@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-secondary antialiased;
  }
}

.wmde-markdown {
  background-color: white;
}

.w-md-editor {
  box-shadow: none !important;
  border: none !important;
}

.w-md-editor-toolbar {
  border-bottom: 1px solid #e5e7eb !important;
  background-color: white !important;
}

.w-md-editor-text {
  padding: 1rem !important;
}

.wmde-markdown-var {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
